[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = git@github.com:daviddoria/ITKVTKHelpers.git
[submodule "VTKHelpers"]
	path = VTKHelpers
	url = git@github.com:daviddoria/VTKHelpers.git
[submodule "QtHelpers"]
	path = QtHelpers
	url = git@github.com:daviddoria/QtHelpers.git
[submodule "ITKQtHelpers"]
	path = ITKQtHelpers
	url = git@github.com:daviddoria/ITKQtHelpers.git
[submodule "PatchComparison"]
	path = PatchComparison
	url = git@github.com:daviddoria/PatchComparison.git
[submodule "ITKVTKCamera"]
	path = ITKVTKCamera
	url = git@github.com:daviddoria/ITKVTKCamera.git
[submodule "PatchClustering"]
	path = PatchClustering
	url = git@github.com:daviddoria/PatchClustering.git
[submodule "Layer"]
	path = Layer
	url = https://github.com/daviddoria/Layer.git
