[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = git@github.com:daviddoria/ITKVTKHelpers.git
[submodule "Mask"]
	path = Mask
	url = git@github.com:daviddoria/Mask.git
[submodule "VTKHelpers"]
	path = VTKHelpers
	url = git@github.com:daviddoria/VTKHelpers.git
[submodule "QtHelpers"]
	path = QtHelpers
	url = git@github.com:daviddoria/QtHelpers.git
[submodule "ITKQtHelpers"]
	path = ITKQtHelpers
	url = git@github.com:daviddoria/ITKQtHelpers.git
[submodule "EigenHelpers"]
	path = EigenHelpers
	url = git@github.com:daviddoria/EigenHelpers.git
[submodule "PatchComparison"]
	path = PatchComparison
	url = git@github.com:daviddoria/PatchComparison.git
